*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 19, 19);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(35, 49, 71);
  padding: 15px 10px;
  border-radius: 3px;

  &__texts {
    font-size: 25px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
    color: rgba(255, 255, 255, 0.871);

    span {
      background-color: gray;
      padding: 2px 5px;
      border-radius: 2px;
      color: rgb(29, 32, 41)
    }
  }

  &__texts:nth-child(2) {
    margin-top: 5px;
  }

  &__title {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-size: 35px;
    font-family: sans-serif;
    color: rgba(237, 237, 237, 0.871);

    span {
      background-color: rgb(29, 32, 41);
      padding: 2px 5px;
      border-radius: 2px;
      color: rgb(177, 177, 177);
    }
    
    
  }
}

.notificate {
  position: absolute;
  top: -90px;
  background-color: rgb(181, 217, 160);
  padding: 15px 2px;
  width: 50%;
  max-width: 300px;
  border-radius: 2px;
  border: 2px solid rgb(35, 71, 37);
  transform: scale(0.7);
  // visibility: hidden;
  &__text {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(29, 32, 41);
    text-align: center;
    width: 100%;
  }
}



